@model IEnumerable<ClinicaMedica.Consumidor.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h2>Pacientes</h2>

@if (ViewData["ErroApi"] != null)
{
    <div class="alert alert-danger">
        <strong>Erro ao consumir a API:</strong><br />
        @ViewData["ErroApi"]
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>DataNascimento</th>
            <th>Ativo</th>
            <th>DataCadastro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model)
        {
            <tr>
                <td>@paciente.Id</td>
                <td>@paciente.Nome</td>
                <td>@paciente.Cpf</td>
                <td>@paciente.Telefone</td>
                <td>@paciente.Email</td>
                <td>@paciente.DataNascimento</td>
                <td>@paciente.Ativo</td>
                <td>@paciente.DataCadastro</td>
            </tr>
        }
    </tbody>
</table>